body{
    background-color: #1e1e2f;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dotted rgb(96 139 168);
}

/* #rock{
    background-image: url(images/rock.png);
    width: 100px;
    height: 100px;
} */

/* .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

footer{
    display: flex;
    justify-content: center;
}

